/* Geral */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 40px 300px;
  border-top: 2px solid #604829;
}

h2 {
  font-family: Oswald;
  font-size: 18px;
  color: #c4a47c;
  margin-bottom: 10px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

#topo {
  position: absolute;
  background-color: #604829;
  width: 100px;
  height: 20px;
  top: 0;
  left: 0;
  z-index: 1;
}

.botao {
  background-image: url("assets/seta-para-cima.png");
  background-size: cover;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
}

.botao:hover {
  background-color: #c4a47c;
  border-radius: 20px;
  opacity: 50%;
}

/* Topo */

.topo {
  position: fixed;
  top: 0;
  padding: 0 50px;
  background-color: #604829;
  width: 100vw;
  display: flex;
  justify-items: center;
  z-index: 2;
}

.topo img {
  width: 70px;
  margin-left: 15%;
}

.menu {
  display: inline-block;
  position: absolute;
  right: 25%;
  top: 30%;
}

.menu a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #c4a47c;
  font-weight: 700;
  text-shadow: 3px 3px #222;
  margin: 0 5px;
}

.menu a:hover {
  /* font-size: 18px; */
  color: #d5b58d;
}

.banner {
  margin-top: 50px;
  background-image: url("assets/parallax-imagem1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: calc(100vh - 50px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-family: "Fraunces", serif;
  color: #fff;
  font-size: 100px;
  line-height: 100px;
}

/* INFORMAÇÕES */

.info {
  text-align: center;
}

.info h2 {
  margin: 30px 0 20px;
}

.info p {
  color: #666666;
  text-align: justify;
  margin-bottom: 20px;
}

.img_fundo_2 {
  background-image: url("assets/parallax-imagem2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 40vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #604829;
}

.img_fundo_3 {
  background-image: url("assets/parallax-imagem3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 40vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #604829;
}

.img_fundo_2 p,
.img_fundo_3 p {
  font-family: "Fraunces", serif;
  color: #fff;
  font-size: 30px;
  font-style: italic;
  padding: 10px 40px;
  background-color: #604829;
}

/* Contatos */

#contatos {
  background-image: url("assets/parallax-imagem4.png");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#contatos h2 {
  color: #fff;
  padding: 10px 0;
  background-color: #604829;
  margin: 40px auto 20px;
  border-radius: 5px;
  width: 70%;
}

iframe {
  border-radius: 5px;
  width: 80%;
  height: 60vh;
  margin: 0 auto;
}

.suporte {
  color: #fff;
  padding: 20px 0;
  background-color: #604829;
  margin-top: 60px;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
}

/* Horários */
#horarios {
  background-image: url("assets/cafeteria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#horarios h2 {
  color: #fff;
  padding: 10px;
  background-color: #604829;
  margin: 40px auto 20px;
  border-radius: 5px;
  width: 40%;
}

#horarios ul {
  width: 90%;
  margin: 50px auto;
}

#horarios li {
  color: #fff;
  list-style: none;
  font-family: "Oswald", sans-serif;
  text-align: center;
  position: relative;
}

#horarios li h3 {
  text-align: left;
}

#horarios li p {
  position: absolute;
  bottom: 0;
  right: 0;
}

#horarios li .linha {
  background-color: #acacac;
  position: absolute;
  height: 1px;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50%;
}

.fechado {
  color: #c4a47c;
}

/* rodapé */
footer {
  border-top: 2px solid #604829;
  text-align: center;
  background-color: #222;
  color: #ffffff;
}

.git {
  text-decoration: none;
  color: #c4a47c;
}

.git:hover {
  color: #d5b58d;
  opacity: 50%;
}

/* Telas menores */
@media (max-width: 500px) {
  #horarios li p {
    position: absolute;
    bottom: 0;
    right: -20px;
  }

  #horarios li .linha {
    display: none;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 20px 80px;
  }

  .botao {
    background-image: url("assets/seta-para-cima.png");
    background-size: cover;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 70px;
    right: 20px;
  }

  .topo img {
    width: 60px;
    margin-left: 2%;
  }

  .menu {
    display: inline-block;
    position: absolute;
    right: 25%;
    top: 30%;
  }

  .menu a {
    font-size: 14px;
  }

  .banner {
    margin-top: 60px;
    height: calc(100vh - 60px);
    background-position: top;
  }

  .banner p {
    font-size: 180%;
  }

  #info {
    text-align: center;
  }

  .info h2 {
    margin: 30px 0;
  }

  #info p {
    color: #666666;
    text-align: justify;
    margin-bottom: 20px;
  }

  .img_fundo_2,
  .img_fundo_3 {
    height: 60vh;
  }

  .img_fundo_2 p,
  .img_fundo_3 p {
    font-size: 20px;
  }

  #contatos h2 {
    width: 100%;
  }

  iframe {
    width: 100%;
  }

  .suporte {
    width: 100%;
  }

  .suporte p {
    font-size: 70%;
  }

  #horarios h2 {
    color: #fff;
    padding: 10px;
    background-color: #604829;
    margin: 40px auto 20px;
    border-radius: 2px;
    width: 80%;
  }

  #horarios ul {
    width: 80%;
  }

  #horarios li .linha {
    width: 20%;
  }

  footer {
    padding: 10px 0;
  }

  footer p {
    font-size: 12px;
    line-height: 20px;
  }
}
